.side-menu {
    position: fixed;
    height: 100%;
    width: 40%;
    z-index: 100;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #05386B;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.side-menu.open {
    transform: translateX(0%);
}

.side-menu nav {
    width: 100%;
}

.side-menu-title-container {
    display: flex;
    margin: 0% 2%;
    font-size: 2rem;
}

.side-menu-spacer {
    flex-grow: 100;
}

.side-menu-title {
    color: #5CDB95;
}

.side-menu nav {
    height: 100%;
}

.side-menu-list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.side-menu-list li a {
    color: #5CDB95;
    font-size: 1.5rem;
}

@media (max-width: 1256px) {
    .hamburger-container {
        display: block;
    }

    .header-link {
        display: none;
    }
}

#close-side-menu:hover {
    cursor: pointer;
}