.main-nav{
  background-color: #2fe796;
  display: flex;
  height: 50px;
}

.site-title{
  font-size: 28px!important;
}

.nav-links:hover{
  color: white;
  cursor: pointer;
}

.nav-links{
  margin: auto;
  text-decoration: none!important;
  color: #747b8f;
  font-size: 20px;
}

.sign-in-container{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
}

.account-link:hover{
  color: gray;
  cursor: pointer;
}

.account-link{
  text-decoration: none!important;
  color: black;
  padding-bottom: 7px;
  font-size: 20px;
}

.custom-button:hover{
  background-color: #30ad77;
}

.custom-button{
  background-color: #2fe796;
  color: #747b8f;
  outline-color: #2fe796;
  border: 0;
  height: 35px;
}

.task-habit-container{
  display: flex;
}

.dashboard-task-container{
  margin: auto;
}

.dashboard-habit-container{
  margin: auto;
}

.task-container{
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 600px;
  align-items: center;
}

.task-list{
  list-style: none;
  margin-right: 35px;
}

.list-element{
  font-size: 24px;
}

.circle:hover{
  cursor: pointer;
  background-color: #2fe796;
}

.circle{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 3px solid #2fe796;
  float: left;
  margin-top: 9px;
}

.habit-container{
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 600px;
  align-items: center;
}

.habit-delete{
  height: 35px;
  width: 35px;
  font-size: 18px;
  color: white;
}