{% extends "bootstrap/base.html" %}

{% block title %}Improve-Mint{% endblock title %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock head %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock styles %}

{% block navbar %}
<nav class="main-nav">
    <a href="/" class="site-title">Improve-Mint</a>
    <ul class="nav-links">
        <li><a href="#" class='navbar-links'>About</a></li>
        <li><a href="#" class='navbar-links'>Contact</a></li>
    
        {% if current_user.is_authenticated %}
            <li><a href="/dashboard" class='navbar-links'>My Dashboard</a></li>
            <li><a href="/tasks" class='navbar-links'>My Tasks</a></li>
            <li><a href="/habits" class='navbar-links'>My Habits</a></li>
            <li><a href="/logout" class='navbar-links'>Logout</a></li>
        {% else %}
            <li><a href="/signup" class='navbar-links'>Sign Up</a></li>
            <li><a href="/login" class='navbar-links'>Log In</a></li>
        {% endif %}
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
{% endblock navbar %}

{% block scripts %}
    <script src="/static/main.js"></script>
{% endblock scripts %}
