{% extends "bootstrap/base.html" %}

{% block title %}Improve-Mint{% endblock title %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock head %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock styles %}

{% block navbar %}
<nav class="main-nav">
    <a href="/" class="site-title nav-links">Improve-Mint</a>
    <a href="#" class="nav-links">About</a>
    <a href="#" class="nav-links">Contact</a>

    {% if current_user.is_authenticated %}
        <a href="/dashboard" class="nav-links">My Dashboard</a>
        <a href="/tasks" class="nav-links">My Tasks</a>
        <a href="/habits" class="nav-links">My Habits</a>
        <a href="/logout" class="nav-links">Logout</a>
    {% else %}
        <a href="/signup" class="nav-links">Sign Up</a>
        <a href="/login" class="nav-links">Log In</a>
    {% endif %}
</nav>

{% endblock navbar %}