{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container text-center habit-container">
        <h1>{{ name }}'s Current Habits: </h1>

        {% for habit in habits %}
        <form method="POST" action="/habits/updateday/{{ habit.id }}">
            <h2>{{ habit.habit }}</h2>
            <h3>Done for {{ habit.daysDone }} days</h3>
            <progress max="{{ habit.dayGoal }}" value = "{{ habit.daysDone }}"></progress>
            
            {% if habit.ableToBeUpdated == true %}
                <button type="submit" class="custom-button">Completed Today!</button>
        
            {% else %}
                <p>Already Done Today.</p>
            {% endif %}
        
        </form>
        <form method="POST" action="/habits/delete/{{ habit.id }}">
            <button class="custom-button habit-delete" type="submit"><i class="fa fa-trash"></i></button>
        </form>
        {% endfor %}
        
        <form method="POST" action="/habits">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.habit) }}
            {{ wtf.form_field(form.dayGoal) }}
        
            <button type="submit" class="custom-button">Add Habit</button>
        </form>
    </div>
{% endblock content %}
