{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container text-center task-container">
        <h1>{{ name }}'s Current Tasks:</h1>
        <ul class="task-list">
            {% for task in tasks %}
                <li class="list-element">
                    <a href="/tasks/delete/{{ task.id }}">
                    <div class="circle"></div>
                    </a>{{ task.task }}
                </li>
            {% endfor %}
        </ul>

        <form method="POST" action="/tasks">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.task) }}
            <button type='submit' class="custom-button">Add Task</button>
        </form>
    </div>
{% endblock content %}