{% extends "base.html" %}

{% block content %}

<div class="login-form-container">
  <div class="home-signup-form-container">
    <div class="get-started-container">
        <h1>Log in to ImproveMint</h1>
    </div>
  
    <form action="/improvemint/user/loginData" method="POST">  
        <div class="email-div">
            <input type="text" name="email" required autocomplete="noemail" /> 
            <label for="email" class="label-email">
                {% if error|string() == 'Email'|string() %}
                  <span class="content-email error">A user with that email does not exist.</span>
                {% else %}
                  <span class="content-email">Email</span>
                {% endif %}
            </label>
        </div>
  
        <div class="password-div">
            <input type="password" name="password" required autocomplete="off" /> 
            <label for="password" class="label-password">
                {% if error|string() == 'Password'|string() %}
                  <span class="content-password error">Incorrect password.</span>
                {% else %}
                  <span class="content-password">Password</span>
                {% endif %}
            </label>
        </div>
  
        <a style="color: #EDF5E1;" href="/improvemint/user/signUp">Don't have an account? Sign Up!</a>

        <input type="submit" value="Login" class="form-submit-button" /> 
    </form>
  </div>
  
  </div>
  {% endblock content %}
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='sideMenu.js') }}"></script>
{% endblock scripts %}