{% extends "base.html" %} {% block content %}

<div class="sign-up-form-container">
  <div class="home-signup-form-container">
    <div class="get-started-container">
      <h1>Welcome to ImproveMint</h1>
    </div>

    <form action="/improvemint/user/signUpData" method="POST">
      <div class="name-div">
        <input type="text" name="name" required autocomplete="noname" />
        <label for="name" class="label-name">
          <span class="content-name">Name</span>
        </label>
      </div>

      <div class="email-div">
        <input type="text" name="email" required autocomplete="noemail" />
        <label for="email" class="label-email">
          {% if error %}
            <span class="content-email error" id="content-email">A user with that email already exists</span>
          {% else %}
            <span class="content-email" id="content-email">Email</span>
          {% endif %}
        </label>
      </div>

      <div class="password-div">
        <input type="password" name="password" required autocomplete="off" />
        <label for="password" class="label-password">
          <span class="content-password">Password</span>
        </label>
      </div>

      <a style="color: #EDF5E1;" href="/improvemint/user/login">Already have an account? Log in</a>

      <input type="submit" value="Sign Up" class="form-submit-button" />
    </form>
  </div>

</div>

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='sideMenu.js') }}"></script>
<script src="{{ url_for('userBlueprint.static', filename='inputErrors.js') }}"></script>
{% endblock scripts %}