{% block head %}
    <title>ImproveMint</title>
{% endblock head %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signUp.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock styles %}

{% include "header.html" %}

{% block content %}
{% endblock content %}

