<footer>
    <div class="footer-info-container">
        <div class="site-info-container">
            <h1>ImproveMint</h1>
            <div class="github-link-container">
                <h2><a href="https://github.com/ReezanVisram/Improve-Mint">GitHub</a></h2>
            </div>

        </div>
    
        <div class="spacer"></div>

        <div class="links-container">
            <ul>
                <li><a href="http://www.reezanvisram.com">About Me</a></li>
                <li><a href="/about">About ImproveMint</a></li>
            </ul>
        </div>
    </div>


    <div class="copyright-info-container">
        <p>&#169 Reezan Visram 2020</p>
    </div>

</footer>