<header>
    <nav>
        <h1><a class="header-link" href="/">Improve-Mint</a></h1>
        <div class="spacer"></div>
        <div>
            <ul>
                {% if session['userId'] is none %}
                    <li><a class="header-link" href="/user/signUp">Sign Up</a></li>
                    <li><a class="header-link login-link" href="/user/login">Login</a></li>
                
                 {% else %}
                    <li><a class="header-link" href="/user/dashboard">Dashboard</a></li>
                    <li><a class="header-link" href="/task">Tasks</a></li>
                    <li><a class="header-link" href="/habit">Habits</a></li>
                    <li><a class="header-link" href="/goal">Goals</a></li>
                    <li><a class="header-link login-link" href="/user/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>