{% extends "base.html" %}



{% block content %}
    <div class="content-container">
        <div class="welcome-container">
            <h1>Welcome to ImproveMint</h1>
            <p>The only self-improvement platform <br /> you'll ever need.</p>

            <div class="features-container">
                <h2>What can you do with ImproveMint?</h2>
                <ul>
                    <li>Track your daily tasks.</li>
                    <li>Track the habits you want to build.</li>
                    <li>Track your progress toward your goals.</li>
                </ul>
            </div>


            <h3>Sound useful? Get Started!</h3>
        </div>
    
        <div class="home-spacer"></div>

        <div class="home-signup-form-container">
            <div class="get-started-container">
                <h1>Get Started</h1>
            </div>

            <form action="/improvemint/user/signUpData" method="POST">
                <div class="name-div">
                    <input type="text" name="name" required autocomplete="noname" />
                    <label for="name" class="label-name">
                        <span class="content-name">Name</span>
                    </label> 
                </div>

                <div class="email-div">
                    <input type="text" name="email" required autocomplete="noemail" />
                    <label for="email" class="label-email">
                      {% if error %}
                        <span class="content-email" id="content-email">A user with that email already exists</span>
                      {% else %}
                        <span class="content-email" id="content-email">Email</span>
                      {% endif %}
                    </label>
                  </div>

                <div class="password-div">
                    <input type="password" name="password" required autocomplete="off" /> 
                    <label for="password" class="label-password">
                        <span class="content-password">Password</span>
                    </label>
                </div>
   
                <input type="submit" value="Sign Up" class="form-submit-button" /> 
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='sideMenu.js') }}"></script>
{% endblock scripts %}